    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>OUR TEAM</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Our Team</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

<!--======= Team Section ======= -->
  <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>POWERED BY PEOPLE</h2>
          <p>We believe in the power of the individual to make great things. And we exist to help people with creative ideas stand out and succeed.</p>
        </div>

        <div class="row justify-content-center">

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/team/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Fabio Menjívar</h4>
                  <span>Software Engineer</span>
                  <div class="social">
                    <a href="https://www.fabiomenjivar.cf/"><i class="bi bi-globe"></i></a>
                    <a href="https://www.instagram.com/fabioprojects/"><i class="bi bi-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/team/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Evelyn Fuentes</h4>
                  <span>Professional Journalist</span>
                  <div class="social">
                    
                    <a href="https://www.facebook.com/tony.fuentes.1485"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/fuentes_eve93/"><i class="bi bi-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End team section-->
    
    <!-- Galería de Proyectos-->


    <section class="portfolio">
      <div class="container">
        <div class="section-title">
          <h2>PROJECTS</h2>
          <p>Here is a list of a Projects that we have made to help enhance the quality life of the mankind, for the mankind.</p>
        </div>
      </div>

      <div class="container">

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-women">
            <div class="portfolio-wrap">
              <img src="img/projects/trucky.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="img/projects/trucky.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-women">
            <div class="portfolio-wrap">
              <img src="img/projects/menu.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="img/projects/menu.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-women">
            <div class="portfolio-wrap">
              <img src="img/projects/team.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="img/projects/team.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-women">
            <div class="portfolio-wrap">
              <img src="img/projects/fabito.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="img/projects/fabito.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-women">
            <div class="portfolio-wrap">
              <img src="img/projects/responsive.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="img/projects/responsive.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-women">
            <div class="portfolio-wrap">
              <img src="img/projects/abibomnita.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="img/projects/abibomnita.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!---->

          <div class="col-lg-4 col-md-6 portfolio-item filter-women">
            <div class="portfolio-wrap">
              <img src="img/projects/motivo.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="img/projects/motivo.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-women">
            <div class="portfolio-wrap">
              <img src="img/projects/motivo1.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="img/projects/motivo1.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-women">
            <div class="portfolio-wrap">
              <img src="img/projects/motivo2.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="img/projects/motivo2.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <!-- Fin galeria de Proyectos-->

